  *{box-sizing: border-box;
    
   
}

body{
 
  background-color:#ffffcc;
}
 
 .principal {
    width: 1902px;
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f0ed;
    opacity: 0.8;
    background-image: url(imagens/logo.png);
    margin-top: -10px;  
    margin-left: -8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

 } 

  #logo {
    
      width: 60px;
      margin-left: -0px;
      margin-top: 10px;
      margin-left: -1150px;
      padding-right: -10px;
  }

  .inicio:hover {
    width: 90px;
  }

  #Lusaac {
      font-family: Script MT Bold, Script MT;
      color: #cc6666;
      font-size: 50px;
      top: 25px;
      left: 100px;
      padding-top: -50px;
      margin-top: -60px;
      margin-left: -1310px;
      padding-right: -10px;
      
      
      
  }

  .inicio {
    width: 100px;
    margin-top: -700px;
    margin-left: 50px;
  }


  a{
    color: white;
    font-family: Open Sans Extrabold, Arial, Helvetica;
    margin: 20px;
    margin-top: -700px;
    
  }

  a:hover {
    color: #333333;
  }


  .quadrado1{
    background-color:#cc6666;
    width: 958px;
    height: 550px;
    margin-left: -1px; 
  }


  .quadrado2{
    background-color:#ffcc99;
    width: 958px;
    height: 550px;
    margin-left: 0px;
  }

  .dosquadrados{
  width:1902px;
  margin-left: -8px;
  display: flex;
  margin-bottom: -45px;
  }
  
  .bolo{
    background-image: url(imagens/bolo\ copiar3.jpg);
    height: 600px;
    width:1902px;
    margin-left: -8px;
    background-repeat: no-repeat;
    align-items: center;
  }

  .emcimadobolo {
    width:1500px;
    height: 300px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-top: 40px;
    
  }

  
  .depoisdobolo{
    background-color: #ffffcc;
    width: 1902px;
    height: 600px;
    margin-left: -8px;
    margin-top: -10px;
    display: flex;
    

  }
  .elipse1 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .elipse2 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 150px;
    margin-left:20px;
  
  }
  
  .elipse3 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: -500px;
    margin-left: 1000px;
  }
  
  .elipse4 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 150px;
    margin-left: 1000px;
    
  }
  

.rodape {
    background-color: black;
    height:100px;
    margin-left: -15px;
    color: white;
    padding: 20px;
    margin-top: 25px;

    
    
}

h5{
  text-align: center;
  color:white;
  padding-top: 10px;

}

.title {
  color: #cccccc;
  font-size: 24px;
  text-align: center;
  padding-top: 150px;
}

.text {
  color: #cccccc;
  font-size:20px;
  text-align: center;
  padding-top: 50px;
}

.dentro {
  width:500px;
  height: 300px;
  margin-left: 200px;
}

.title2 {
  color:#cc3333;
  font-size: 24px;
  text-align: center;
  padding-top: 150px;

}

.text2 {
  color: #cc3333;
  font-size:20px;
  text-align: center;
  padding-top: 50px;

}

.tudo {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1902px;

}

.iconezinhos {

   padding-top: 45px;
   padding: 42px;
   
}

.venhaconhecer{
  font-family: Open sans Extrabold;
  color: white;
  
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

.textobolo {
  font-size: 24px;
  font-family: Open sans regular;
  color: white;
  text-align: center;
}

#produtosfrescos {

  font-size: 20px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: -160px;
  margin-left: 200px;
   
}

#textoprodutosfrescos {

  font-size: 15px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: 205px;
  

}


.somos {
  color: #f5f0ed;
  font-size: 30px;
  font-family: Open sans;
  margin-top:100px;
  padding-bottom: 40px;
  


}

.confira {
  
  color: white;
  margin-left: auto;
  margin-right: auto;
  
}

#espaçoprodutosfrescos {
  width: 50x;
  margin-top: 20px;
  

}

#espaço1 {
  width: 600px;
  margin-top: -230px;
  margin-left: 200px;
  
}
#tempo {

  font-size: 20px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: -230px;
  margin-left: 200px;

}

#textotempo {
  font-size: 15px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: 190px;
 

}

#espaçotempo {
  width: 50x;
  margin-top: 90px;

}

#espaço2 {
  width: 600px;
  margin-top: -180px;
  margin-left: 200px;
}

#produtosorganicos {
  font-size: 20px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: -135px;
  margin-left: 200px;
  
}


#textoprodutosorganicos {

  font-size: 15px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: 160px;
  

}

#espaço3 {

  width: 600px;
  margin-top: -150px;
  margin-left: 200px;

}

#delivery {

  font-size: 20px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: -150px;
  margin-left: 200px;
  


}

#textodelivery {

  font-size: 15px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: 20px;
  margin-left: 70px;

}

#espaço4 {

  width: 600px;
  margin-top: 30px;
  margin-left: 130px;

}

#entreemcontato {

  font-family: Open sans Extrabold;
  color: #cc6666;
  font-size: 24px;
  text-align: center;
  padding-top: 150px;

}

.redessociais {

width: 50px;
height: 50px;
margin-top: 30px;
margin-left:150px;
margin-right: auto;

}

.arrobaesite {
  color: #cccccc;
  margin-top: -40px;
  margin-left: 250px;
  font-size: 20px;
}

.ajustarotamanho {
  width: 150px;
}

.borda {

    border-width: 3px;
    border-color: rgb(245, 240, 237);
    border-style: solid;
    display:flex;
    align-items: center;
    left: 505px;
    top: 1573px;
    width: 276px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
   
  }
  
