  *{box-sizing: border-box;
    
   
}

 
body{
 
  background-color:#ffffcc;
}
 
 .principal {
    width: 1902px;
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f0ed;
    opacity: 0.8;
    background-image: url(logo.png);
    margin-top: -10px;  
    margin-left: -8px;
    border: blue solid 5px;
    display: flex;
    justify-content: flex-end;
   

 } 

  #logo {
    
    width: 60px;
      margin-left: -0px;
      margin-top: 10px;
      margin-left: -800px;
      padding-right: -10px;
  }

  #Lusaac {
      font-family: Script MT Bold, Script MT;
      color: #cc6666;
      font-size: 50px;
      top: 25px;
      left: 100px;
      padding-top: -50px;
      margin-top: -60px;
      margin-left: -1340px;
      padding-right: -10px;
      
      
  }

  .inicio {
    display: inline-block;
  }

  .menu{
    color: white;
    font-family: Open Sans Extrabold, Arial, Helvetica;
    font: size 44px;
    margin-top: 30px;
  
    margin-left: 20px;
    display:flex;
    padding: -50px;
    
    
  }


  .quadrado1{
    background-color:#cc6666;
    width: 958px;
    height: 550px;
    margin-left: -1px; 
  }


  .quadrado2{
    background-color:#ffcc99;
    width: 958px;
    height: 550px;
    margin-left: 0px;
  }

  .dosquadrados{
  width:1902px;
  margin-left: -8px;
  display: flex;
  margin-bottom: -45px;
  }
  
  .bolo{
    background-image: url(bolo\ copiar3.jpg);
    height: 600px;
    width:1902px;
    margin-left: -8px;
    background-repeat: no-repeat;
   
  
  }

  
  .depoisdobolo{
    background-color: #ffffcc;
    width: 1902px;
    height: 600px;
    margin-left: -8px;
    margin-top: -10px;
    display: flex;
    

  }
  .elipse1 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .elipse2 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 150px;
    margin-left:20px;
  
  }
  
  .elipse3 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: -500px;
    margin-left: 1000px;
  }
  
  .elipse4 {
    border-radius: 50%;
    background-color: rgb(210, 57, 60);
    width: 173px;
    height: 173px;
    margin-top: 150px;
    margin-left: 1000px;
    
  }
  

.rodape {
    background-color: black;
    height:100px;
    margin-left: -15px;
    color: white;
    padding: 20px;
    margin-top: 25px;

    
    
}

h5{
  text-align: center;
  color:white;
  padding-top: 10px;

}

#arievilo {
  color: yellow;
  padding-top: -20px;
  float: right;
  margin-top: -8px;

}

.title {
  color: #cccccc;
  font-size: 24px;
  text-align: center;
  padding-top: 150px;
}

.text {
  color: #cccccc;
  font-size:20px;
  text-align: center;
  padding-top: 50px;
}

.dentro {
  width:500px;
  height: 300px;
  margin-left: 200px;
}

.title2 {
  color:#cc3333;
  font-size: 24px;
  text-align: center;
  padding-top: 150px;

}

.text2 {
  color: #cc3333;
  font-size:20px;
  text-align: center;
  padding-top: 50px;

}

.tudo {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1902px;

}

.delivery {
   padding-top: 45px;
   padding: 38px;
}

.venhaconhecer{
  font-size: 44px;
  font-family: Open sans Extrabold;
  color: white;
  padding-top: 40px;
  text-align: center;
}

.textobolo {
  font-size: 24px;
  font-family: Open sans regular;
  color: white;
  text-align: center;
}

#produtosfrescos {
  font-size: 23px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-left: -950px;
  margin-top: 80px;
   
}

#textoprodutosfrescos {

  font-size: 18px;
  font-family: Open sans Extrabold;
  color: #333333;
  margin-top: 200px;
  text-align: center;

}

#textodosprodutos {
  width: 600px;
  height: 500px;
  border: blue solid 5px;
}